
config/JEI/worldSettings\.cfg

config/MouseTweaks\.cfg

release_notes\.bat

config/codechicken/supporters\.json

config/agricraft/json/server_*/

config/randomtweaks/data\.json


*.jar

*.old
