
config/JEI/worldSettings\.cfg

config/MouseTweaks\.cfg

release_notes\.bat

config/codechicken/supporters\.json

config/randomtweaks/data\.json

*.jar

*.old

server\.manifest

releases/server/*.zip

config/splash\.properties
